{% extends 'layout.html' %}
{% block css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/profile_img.js') }}"></script>
{% endblock %}

{% block body %}
<div class="outer-box">
	
	<!-- Chats division -->
	<div class="chats" id="chats">
		<!-- Chats header division -->
		<div class="chats-header">
			<div class="title"><a href="/chat" class="title">LetsChat Messenger</a></div>
			<div class="menu-opts">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
					<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
				</svg>
				<div class="opts-list">
					<button class="opt" data-bs-toggle="modal" data-bs-target="#contactsModal">Contacts</button>
					<button class="opt" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</button>
					<button class="opt" onclick="window.location.replace('/signout');">Sign out</button>
				</div>
			</div>
		</div>

		<!-- User chats division -->
		<div class="user-chats">
			<div class="create-contact-msg" id="create-contact-msg">
				Create new contacts to connect!
			</div>
			{% for chat in chats %}
				<script>document.getElementById("create-contact-msg").style.display="none";</script>
				{% set chatid = chat['chatid'] %}
				{% set username = chat['username'] %}
				{% set img_status = chat['profile_img_status'] %}
				<button class="user-chat" onclick="chat('{{ chatid }}', '{{ username }}', '{{ img_status }}');">
		
					<div class="profile-image" id="user-{{ username }}-default-profile-img" style="color: #321e46;">
						{% include 'default_profile_img.html' %}
					</div>
					<div class="profile-image" id="user-{{ username }}-profile-img" style="display: none;">
						<img class="profile-image" id="set-user-{{ username }}-profile-img" src="#" onclick="viewProfilePhoto('{{ username }}');">
					</div>
		
					{{ username }}
				</button>
				<script>set_profile_photo("user-{{ username }}-profile-img", "user-{{ username }}-default-profile-img", "set-user-{{ username }}-profile-img", "{{ username }}", "{{ img_status }}");</script>
			{% endfor %}
		</div>
	</div>

	<!-- Chat box division -->
	<div class="chat-box" id="chat-box">
		<!-- User chat header division -->
		<div class="user-chat-header">

			<div class="back-button">
				<button type="button" class="back-button" id="back-button" onclick="back_button();">
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
					</svg>
				</button>
			</div>

			<div class="profile-image" id="user-default-profile-img" style="color: #fff;">
				{% include 'default_profile_img.html' %}
			</div>
			<div class="profile-image" id="user-profile-img" style="display: none;">
				<img class="profile-image" id="set-user-profile-img" src="#">
			</div>

			<div class="user-name" id="user-name">admin</div>

			<div class="menu-opts current-user" id="current-user" style="display: none;">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
					<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
				</svg>
				<div class="opts-list">
					<button class="opt" data-bs-toggle="modal" data-bs-target="#clearChatModal">Clear Chat</button>
					<button class="opt" id="export-chat">Export Chat</button>
				</div>
			</div>
		</div>

		<!-- Chat Window -->
		<div class="chat-window" id="chat-window">
			<div class="msg-container">
				<div class="msg rmsg">
					Welcome {{ name }}!
					<span class="dt">{{ cdt }}</span>
				</div>
			</div>
		</div>

		<!-- Send Message Division -->
		<div class="send-message">
			<div class="message">
				<textarea class="message" id="message" onkeydown="return (event.keyCode!=13);"></textarea>
			</div>
			<div class="send">
				<button class="send" id="send">Send</button>
			</div>
		</div>
	</div>
</div>

<!-- Contacts Modal -->
<div class="modal fade" id="contactsModal" tabindex="-1" aria-labelledby="contactsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header contacts-header">
				<h5 class="modal-title" id="contactsModalLabel">Contacts</h5>
				<button type="button" class="btn create-contact" data-bs-toggle="modal" data-bs-target="#createContactModal">Create Contact</button>
				<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% for contact in contacts %}
					{% set chatid = contact['chatid'] %}
					{% set username = contact['username'] %}
					{% set img_status = contact['profile_img_status'] %}
					<button class="contact" onclick="chatWithContact('{{ chatid }}', '{{ username }}', '{{ img_status }}');">
					
						<div class="profile-image" id="contact-{{ username }}-default-profile-img" style="color: #321e46;">
							{% include 'default_profile_img.html' %}
						</div>
						<div class="profile-image" id="contact-{{ username }}-profile-img" style="display: none;">
							<img class="profile-image" id="set-contact-{{ username }}-profile-img" src="#" onclick="viewProfilePhoto('{{ username }}');">
						</div>

						{{ username }}
					</button>
					<script>set_profile_photo("contact-{{ username }}-profile-img", "contact-{{ username }}-default-profile-img", "set-contact-{{ username }}-profile-img", "{{ username }}", "{{ img_status }}");</script>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<!-- Create Contact Modal -->
<div class="modal fade" id="createContactModal" tabindex="-1" aria-labelledby="createContactModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createContactModalLabel">Create new contact</h5>
				<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="uname" class="form-label">Username</label>
					<input type="text" class="form-control input" id="uname" placeholder="Enter username" required>
				</div>
				<div class="alert alert-danger" role="alert" style="display: none;" id="errorCreateContact"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn create" onclick="createContact();">Create</button>
			</div>
		</div>
	</div>
</div>

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profileModalLabel">Profile</h5>
				<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">

					<div class="profile-image" id="default-profile-img" style="color: #321e46;">
						{% include 'default_profile_img.html' %}
					</div>
					<div class="profile-image" id="profile-img" style="display: none;">
						<img class="profile-image" id="set-profile-img" src="#" onclick="viewProfilePhoto('{{ uname }}');">
					</div>
					<script>set_profile_photo("profile-img", "default-profile-img", "set-profile-img", "{{ uname }}", "{{ profile_img_status }}");</script>

					<a href="#" data-bs-toggle="modal" data-bs-target="#profilePhotoModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill edit" viewBox="0 0 16 16">
							<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
						</svg>
					</a>
				</div>
				<div class="mb-3">
					<span class="plabel">Name:</span>
					<p class="pinfo">{{ name }}</p>
				</div>
				<div class="mb-3">
					<span class="plabel">Username:</span>
					<p class="pinfo">{{ uname }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- View Profile Photo Modal -->
<div class="modal fade" id="viewProfilePhotoModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img class="viewProfilePhoto" id="viewProfilePhoto" src="#">
			</div>
		</div>
	</div>
</div>

<!-- Update Profile Photo Modal -->
<div class="modal fade" id="profilePhotoModal" tabindex="-1" aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profilePhotoModalLabel">Update Profile Photo</h5>
				<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="/upload_profile_photo" method="POST" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="mb-3">
						<input type="file" class="form-control input" name="profile-photo" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn update-photo">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Confirm Clear chat Modal -->
<div class="modal fade" id="clearChatModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<b>Are you sure you want to clear messages in this chat?</b>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn clear-chat" id="clear-chat">Clear</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- Script -->
{% block script %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
